@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";


@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);
@import url(http://fonts.googleapis.com/css?family=Fredericka+the+Great);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
@import url(http://fonts.googleapis.com/css?family=Arizonia);

.login {
  font-family: 'helvetica neue', helvetica, arial, 'lucida grande', sans-serif;
  position: relative;
  background: #3b5998 !important;
  width: 400px;
  height: 2.5rem;
  line-height: 2.5rem;
  text-decoration: none;
  color: white !important;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
}
.login i {
  vertical-align: middle;
  font-size: 1.5rem;
  position: absolute;
  top: 0.5rem;
  left: 0.625rem;
}
.login:hover {
}
.login:active {
}

.search-box {
//  position: absolute;
//  margin-left: -12.5rem;
//  margin-top: -1.25rem;
//  left: 50%;
//  top: 50%;
  width: 25rem;

}
.search-box input {
  width: 400px;
  height: 2.5rem;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  outline: 0;
  padding: 0.5rem 0.625rem;
}
.search-box ul {
  margin: 0;
  padding: 0;
  border-radius: 4px;
  margin-top: 4px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9);
}
.search-box ul li {
  margin: 0;
  list-style-type: none;
}

.search-box a {
  display: block;
  padding: 2px 8px;
  color: #444;
}
.search-box li:first-child a { padding-top: 4px; }
.search-box li:nth-last-child(2) a { padding-bottom: 4px; }

.search-box a:hover {
  background: #48f;
  color: white;
}

.search-no-results {
  padding: 0 8px;
}

.search-no-results {
  color: gray;
  padding: 4px 8px;
  cursor: default;
}

h1.searchpagetitle1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 45px;
  color:white;
}
h2.searchpagetitle2 {
  font-family: 'Arizonia', cursive;
  font-size: 30px;
  color: white;
}

.titles-of-page {
  text-align: center;
  color: white;
}