@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";

@import "../public/foundation/scss/foundation/components/labels";
@import "../public/foundation/scss/foundation/components/buttons";

.login {
  font-family: 'helvetica neue', helvetica, arial, 'lucida grande', sans-serif;
  position: relative;
  background: #3b5998 !important;
  width: 400px;
  height: 2.5rem;
  line-height: 2.5rem;
  text-decoration: none;
  color: white !important;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
}
.login i {
  vertical-align: middle;
  font-size: 1.5rem;
  position: absolute;
  top: 0.5rem;
  left: 0.625rem;
}
.login:hover {
}
.login:active {
}

.search-box {
  position: absolute;
  margin-left: -12.5rem;
  margin-top: -1.25rem;
  left: 50%;
  top: 50%;
  width: 25rem;

}
.search-box input {
  width: 400px;
  height: 2.5rem;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  outline: 0;
  padding: 0.5rem 0.625rem;
}
.search-box ul {
  margin: 0;
  padding: 0;
  border-radius: 4px;
  margin-top: 4px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9);
}
.search-box ul li {
  margin: 0;
  list-style-type: none;
}
.search-box a {
  display: block;
  padding: 2px 8px;
  color: #444;
}
.search-box li:first-child a { padding-top: 4px; }
.search-box li:nth-last-child(2) a { padding-bottom: 4px; }

.search-box a:hover {
  background: #48f;
  color: white;
}

.search-no-results {
  color: gray;
  padding: 4px 8px;
  cursor: default;
}

.my-review-rating {
  @include label(
    // This options sets label padding
  $padding:7px 16px 9px,
    // This option sets label text-size
  $text-size:13px,
    // This option sets label background-color
  $bg: #7f7f7f,
    // This option sets the radius of the label
  $radius:4px
  );
}

.my-review-buttons {
  @include button(
    // $padding - Used to build padding for buttons Default: $button-med or rem-calc(12)
    $padding : $button-med,
    // Background color. We can set $bg:false for a transparent background. Default: $primary-color.
    $bg: #ffffff,
    // If true, set to button radius which is $global-radius or explicitly set radius amount in px (ex. $radius:10px). Default:false.
    $radius: $global-radius,
    // We can set $full-width:true to remove side padding extend width. Default:false
    $full-width: false,
    // We can set $disabled:true to create a disabled transparent button. Default:false
    $disabled: false
    // $is-input - <input>s and <button>s take on strange padding. We added this to help fix that. Default:false
  );
}