@import url(http://fonts.googleapis.com/css?family=Fredericka+the+Great);
@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);
@import url(http://fonts.googleapis.com/css?family=Fredericka+the+Great);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
@import url(http://fonts.googleapis.com/css?family=Arizonia);
/* line 5, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 13, ../../sass/styles.scss */
#search-wrapper {
  background: url("../images/Background-Image-Color-Overlay.jpg");
  background-repeat: cover;
  height: 100%; }

/* line 19, ../../sass/styles.scss */
#course-details {
  background: transparent; }
  /* line 22, ../../sass/styles.scss */
  #course-details h1 {
    margin: 0;
    padding: 0; }
  /* line 27, ../../sass/styles.scss */
  #course-details #average-rating a {
    background: #888; }
  /* line 31, ../../sass/styles.scss */
  #course-details a.button {
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding: 8px 16px; }
  /* line 39, ../../sass/styles.scss */
  #course-details #course-details-heading {
    margin-top: 1rem; }
  /* line 46, ../../sass/styles.scss */
  #course-details #course-rating-info {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    /* line 51, ../../sass/styles.scss */
    #course-details #course-rating-info a.button {
      margin: 0; }
    /* line 52, ../../sass/styles.scss */
    #course-details #course-rating-info #add-review {
      margin-left: 0.5rem; }
  /* line 55, ../../sass/styles.scss */
  #course-details #course-ratings {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem; }
    /* line 65, ../../sass/styles.scss */
    #course-details #course-ratings ul {
      display: inline-block;
      margin: 0 0.5rem; }
    /* line 66, ../../sass/styles.scss */
    #course-details #course-ratings li {
      margin: 0; }
    /* line 67, ../../sass/styles.scss */
    #course-details #course-ratings a.button {
      cursor: default;
      background: #888;
      padding: 8px 16px;
      margin-bottom: 0.5rem; }
  /* line 77, ../../sass/styles.scss */
  #course-details .course-review-scoring a {
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    color: #ccc; }
  /* line 81, ../../sass/styles.scss */
  #course-details .course-review-scoring a:hover {
    color: #999; }
  /* line 82, ../../sass/styles.scss */
  #course-details .course-review-scoring a.selected {
    color: #666; }
  /* line 85, ../../sass/styles.scss */
  #course-details .course-review {
    margin: 1rem 0.5rem;
    border-radius: 4px;
    background: #eee;
    overflow: hidden; }
    /* line 91, ../../sass/styles.scss */
    #course-details .course-review a.button {
      margin-top: 0;
      background: #888;
      cursor: default; }
    /* line 97, ../../sass/styles.scss */
    #course-details .course-review h3 {
      vertical-align: bottom; }
  /* line 102, ../../sass/styles.scss */
  #course-details .review-score {
    font-size: 1.5rem; }
  /* line 109, ../../sass/styles.scss */
  #course-details .review-comments input {
    background: transparent;
    margin: 0;
    outline: 0;
    border: none;
    box-shadow: none; }
  /* line 117, ../../sass/styles.scss */
  #course-details .review-comments-list {
    border-top: 1px solid #ccc;
    margin: 4px 8px 0; }
    /* line 120, ../../sass/styles.scss */
    #course-details .review-comments-list div:last-child {
      padding-bottom: 4px;
      border-bottom: 1px solid #ccc; }
    /* line 125, ../../sass/styles.scss */
    #course-details .review-comments-list div:first-child {
      padding-top: 4px; }

/* line 138, ../../sass/styles.scss */
.login {
  font-family: 'helvetica neue', helvetica, arial, 'lucida grande', sans-serif;
  position: relative;
  background: #3b5998 !important;
  width: 400px;
  height: 2.5rem;
  line-height: 2.5rem;
  text-decoration: none;
  color: white !important;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  margin: 0 auto;
  display: block; }

/* line 153, ../../sass/styles.scss */
.login i {
  vertical-align: middle;
  font-size: 1.5rem;
  position: absolute;
  top: 0.5rem;
  left: 0.625rem; }

/* line 165, ../../sass/styles.scss */
.search-box {
  width: 25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5rem; }

/* line 178, ../../sass/styles.scss */
.search-box input {
  width: 400px;
  height: 2.5rem;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  outline: 0;
  padding: 0.5rem 0.625rem; }

/* line 189, ../../sass/styles.scss */
.search-box ul {
  margin: 0;
  padding: 0;
  border-radius: 4px;
  margin-top: 4px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9); }

/* line 197, ../../sass/styles.scss */
.search-box ul li {
  margin: 0;
  list-style-type: none; }

/* line 202, ../../sass/styles.scss */
.search-box a {
  display: block;
  padding: 2px 8px;
  color: #444; }

/* line 207, ../../sass/styles.scss */
.search-box li:first-child a {
  padding-top: 4px; }

/* line 208, ../../sass/styles.scss */
.search-box li:nth-last-child(2) a {
  padding-bottom: 4px; }

/* line 210, ../../sass/styles.scss */
.search-box a:hover {
  background: #48f;
  color: white; }

/* line 215, ../../sass/styles.scss */
.search-no-results {
  padding: 0 8px; }

/* line 219, ../../sass/styles.scss */
.search-no-results {
  color: gray;
  padding: 4px 8px;
  cursor: default; }

/* line 225, ../../sass/styles.scss */
#current-user-name {
  color: white;
  margin-left: 8px; }

/* line 230, ../../sass/styles.scss */
h1.searchpagetitle1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 45px;
  color: white; }

/* line 236, ../../sass/styles.scss */
h2.searchpagetitle2 {
  font-family: 'Arizonia', cursive;
  margin-top: -1rem;
  font-size: 30px;
  color: white; }

@media screen and (max-width: 700px) {
  /* line 243, ../../sass/styles.scss */
  h1.searchpagetitle1 {
    font-size: 20px; }

  /* line 244, ../../sass/styles.scss */
  h2.searchpagetitle2 {
    display: none;
    font-size: 15px;
    margin-top: -0.75rem; }

  /* line 245, ../../sass/styles.scss */
  .search-box {
    width: 20rem;
    margin-left: -10rem; }

  /* line 250, ../../sass/styles.scss */
  .search-box input {
    width: 20rem; } }
/* line 255, ../../sass/styles.scss */
.titles-of-page {
  text-align: center;
  color: white;
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  text-align: center; }
