@import url(http://fonts.googleapis.com/css?family=Fredericka+the+Great);
@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);
@import url(http://fonts.googleapis.com/css?family=Fredericka+the+Great);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
@import url(http://fonts.googleapis.com/css?family=Arizonia);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
/* line 5, ../../../../../../../../../../../Users/Edward/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../../../../Users/Edward/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../../../../Users/Edward/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../../../../Users/Edward/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../../../../Users/Edward/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../../../../Users/Edward/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../../../Users/Edward/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../../../../Users/Edward/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../../../../Users/Edward/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 13, ../../sass/styles.scss */
.course-review {
  margin: 1rem 0.5rem;
  border-radius: 4px;
  background: #eee;
  overflow: hidden;
  padding: 10px; }
  /* line 22, ../../sass/styles.scss */
  .course-review h3 {
    vertical-align: bottom; }

/* line 27, ../../sass/styles.scss */
#search-wrapper {
  background: url("../images/Background-Image-Color-Overlay.jpg");
  background-repeat: cover;
  height: 100%; }

/* line 33, ../../sass/styles.scss */
#course-details {
  background: transparent; }
  /* line 36, ../../sass/styles.scss */
  #course-details h1 {
    margin: 0;
    padding: 0; }
  /* line 41, ../../sass/styles.scss */
  #course-details #average-rating a {
    background: #888; }
  /* line 45, ../../sass/styles.scss */
  #course-details a.button {
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding: 8px 16px; }
  /* line 53, ../../sass/styles.scss */
  #course-details #course-details-heading {
    margin-top: 1rem; }
  /* line 60, ../../sass/styles.scss */
  #course-details #course-rating-info {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    /* line 65, ../../sass/styles.scss */
    #course-details #course-rating-info a.button {
      margin: 0; }
    /* line 66, ../../sass/styles.scss */
    #course-details #course-rating-info #add-review {
      margin-left: 0.5rem; }
  /* line 69, ../../sass/styles.scss */
  #course-details #course-ratings {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem; }
    /* line 79, ../../sass/styles.scss */
    #course-details #course-ratings ul {
      display: inline-block;
      margin: 0 0.5rem; }
    /* line 80, ../../sass/styles.scss */
    #course-details #course-ratings li {
      margin: 0; }
    /* line 81, ../../sass/styles.scss */
    #course-details #course-ratings a.button {
      cursor: default;
      background: #888;
      padding: 8px 16px;
      margin-bottom: 0.5rem; }
  /* line 91, ../../sass/styles.scss */
  #course-details .course-review-scoring a {
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    color: #ccc; }
  /* line 95, ../../sass/styles.scss */
  #course-details .course-review-scoring a:hover {
    color: #999; }
  /* line 96, ../../sass/styles.scss */
  #course-details .course-review-scoring a.selected {
    color: #666; }
  /* line 99, ../../sass/styles.scss */
  #course-details .course-review {
    margin: 1rem 0.5rem;
    border-radius: 4px;
    background: #eee;
    word-wrap: break-word;
    overflow: hidden; }
    /* line 106, ../../sass/styles.scss */
    #course-details .course-review a.button {
      margin-top: 0;
      background: #888;
      cursor: default; }
    /* line 112, ../../sass/styles.scss */
    #course-details .course-review h3 {
      vertical-align: bottom; }
  /* line 117, ../../sass/styles.scss */
  #course-details .review-score {
    font-size: 1.5rem; }
  /* line 124, ../../sass/styles.scss */
  #course-details .review-comments input {
    background: transparent;
    margin: 0;
    outline: 0;
    border: none;
    box-shadow: none; }
  /* line 132, ../../sass/styles.scss */
  #course-details .review-comments-list {
    border-top: 1px solid #ccc;
    margin: 4px 8px; }
    /* line 135, ../../sass/styles.scss */
    #course-details .review-comments-list div {
      padding-bottom: 4px;
      border-bottom: 1px solid #ccc; }
    /* line 140, ../../sass/styles.scss */
    #course-details .review-comments-list div:first-child {
      padding-top: 4px; }
  /* line 147, ../../sass/styles.scss */
  #course-details .review-comment {
    margin-bottom: 4px;
    word-wrap: break-word; }

/* line 348, ../foundation/scss/foundation/components/_global.scss */
meta.foundation-version {
  font-family: "/5.5.1/"; }

/* line 352, ../foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

/* line 357, ../foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-small-only {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0; }

/* line 362, ../foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em; }

/* line 367, ../foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-medium-only {
  font-family: "/only screen and (min-width:40.063em) and (max-width:64em)/";
  width: 40.063em; }

/* line 372, ../foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em; }

/* line 377, ../foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-large-only {
  font-family: "/only screen and (min-width:64.063em) and (max-width:90em)/";
  width: 64.063em; }

/* line 382, ../foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em; }

/* line 387, ../foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xlarge-only {
  font-family: "/only screen and (min-width:90.063em) and (max-width:120em)/";
  width: 90.063em; }

/* line 392, ../foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em; }

/* line 397, ../foundation/scss/foundation/components/_global.scss */
meta.foundation-data-attribute-namespace {
  font-family: false; }

/* line 404, ../foundation/scss/foundation/components/_global.scss */
html, body {
  height: 100%; }

/* line 407, ../foundation/scss/foundation/components/_global.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 413, ../foundation/scss/foundation/components/_global.scss */
html,
body {
  font-size: 16px; }

/* line 417, ../foundation/scss/foundation/components/_global.scss */
body {
  background: #fff;
  color: #222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  position: relative;
  cursor: auto; }

/* line 430, ../foundation/scss/foundation/components/_global.scss */
a:hover {
  cursor: pointer; }

/* line 433, ../foundation/scss/foundation/components/_global.scss */
img {
  max-width: 100%;
  height: auto; }

/* line 435, ../foundation/scss/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic; }

/* line 439, ../foundation/scss/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important; }

/* line 446, ../foundation/scss/foundation/components/_global.scss */
.left {
  float: left !important; }

/* line 447, ../foundation/scss/foundation/components/_global.scss */
.right {
  float: right !important; }

/* line 172, ../foundation/scss/foundation/components/_global.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
/* line 173, ../foundation/scss/foundation/components/_global.scss */
.clearfix:after {
  clear: both; }

/* line 451, ../foundation/scss/foundation/components/_global.scss */
.hide {
  display: none; }

/* line 456, ../foundation/scss/foundation/components/_global.scss */
.invisible {
  visibility: hidden; }

/* line 462, ../foundation/scss/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 465, ../foundation/scss/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle; }

/* line 475, ../foundation/scss/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px; }

/* line 478, ../foundation/scss/foundation/components/_global.scss */
select {
  width: 100%; }

/* line 91, ../foundation/scss/foundation/components/_labels.scss */
.label {
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  margin-bottom: auto;
  padding: 0.25rem 0.5rem 0.25rem;
  font-size: 0.6875rem;
  background-color: #008CBA;
  color: #FFFFFF; }
  /* line 96, ../foundation/scss/foundation/components/_labels.scss */
  .label.radius {
    border-radius: 3px; }
  /* line 97, ../foundation/scss/foundation/components/_labels.scss */
  .label.round {
    border-radius: 1000px; }
  /* line 99, ../foundation/scss/foundation/components/_labels.scss */
  .label.alert {
    background-color: #f04124;
    color: #FFFFFF; }
  /* line 100, ../foundation/scss/foundation/components/_labels.scss */
  .label.warning {
    background-color: #f08a24;
    color: #FFFFFF; }
  /* line 101, ../foundation/scss/foundation/components/_labels.scss */
  .label.success {
    background-color: #43AC6A;
    color: #FFFFFF; }
  /* line 102, ../foundation/scss/foundation/components/_labels.scss */
  .label.secondary {
    background-color: #e7e7e7;
    color: #333333; }
  /* line 103, ../foundation/scss/foundation/components/_labels.scss */
  .label.info {
    background-color: #a0d3e8;
    color: #333333; }

/* line 218, ../foundation/scss/foundation/components/_buttons.scss */
button, .button {
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 2px;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: #70DB70;
  border-color: white;
  color: white;
  transition: background-color 300ms ease-out; }
  /* line 163, ../foundation/scss/foundation/components/_buttons.scss */
  button:hover, button:focus, .button:hover, .button:focus {
    background-color: #3bce3b; }
  /* line 169, ../foundation/scss/foundation/components/_buttons.scss */
  button:hover, button:focus, .button:hover, .button:focus {
    color: #FFFFFF; }
  /* line 225, ../foundation/scss/foundation/components/_buttons.scss */
  button.secondary, .button.secondary {
    background-color: #e7e7e7;
    border-color: #b9b9b9;
    color: white; }
    /* line 163, ../foundation/scss/foundation/components/_buttons.scss */
    button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
      background-color: #b9b9b9; }
    /* line 169, ../foundation/scss/foundation/components/_buttons.scss */
    button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
      color: #333333; }
  /* line 226, ../foundation/scss/foundation/components/_buttons.scss */
  button.success, .button.success {
    background-color: #43AC6A;
    border-color: #368a55;
    color: white; }
    /* line 163, ../foundation/scss/foundation/components/_buttons.scss */
    button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
      background-color: #368a55; }
    /* line 169, ../foundation/scss/foundation/components/_buttons.scss */
    button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
      color: #FFFFFF; }
  /* line 227, ../foundation/scss/foundation/components/_buttons.scss */
  button.alert, .button.alert {
    background-color: #E68585;
    border-color: white;
    color: white; }
    /* line 163, ../foundation/scss/foundation/components/_buttons.scss */
    button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
      background-color: #cf2a0e; }
    /* line 169, ../foundation/scss/foundation/components/_buttons.scss */
    button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
      color: #FFFFFF; }
  /* line 228, ../foundation/scss/foundation/components/_buttons.scss */
  button.warning, .button.warning {
    background-color: #f08a24;
    border-color: #cf6e0e;
    color: white; }
    /* line 163, ../foundation/scss/foundation/components/_buttons.scss */
    button.warning:hover, button.warning:focus, .button.warning:hover, .button.warning:focus {
      background-color: #cf6e0e; }
    /* line 169, ../foundation/scss/foundation/components/_buttons.scss */
    button.warning:hover, button.warning:focus, .button.warning:hover, .button.warning:focus {
      color: #FFFFFF; }
  /* line 229, ../foundation/scss/foundation/components/_buttons.scss */
  button.info, .button.info {
    background-color: #a0d3e8;
    border-color: #61b6d9;
    color: white; }
    /* line 163, ../foundation/scss/foundation/components/_buttons.scss */
    button.info:hover, button.info:focus, .button.info:hover, .button.info:focus {
      background-color: #61b6d9; }
    /* line 169, ../foundation/scss/foundation/components/_buttons.scss */
    button.info:hover, button.info:focus, .button.info:hover, .button.info:focus {
      color: #FFFFFF; }
  /* line 231, ../foundation/scss/foundation/components/_buttons.scss */
  button.large, .button.large {
    padding-top: 1.125rem;
    padding-right: 2.25rem;
    padding-bottom: 1.1875rem;
    padding-left: 2.25rem;
    font-size: 1.25rem; }
  /* line 232, ../foundation/scss/foundation/components/_buttons.scss */
  button.small, .button.small {
    padding-top: 0.875rem;
    padding-right: 1.75rem;
    padding-bottom: 0.9375rem;
    padding-left: 1.75rem;
    font-size: 0.8125rem; }
  /* line 233, ../foundation/scss/foundation/components/_buttons.scss */
  button.tiny, .button.tiny {
    padding-top: 0.625rem;
    padding-right: 1.25rem;
    padding-bottom: 0.6875rem;
    padding-left: 1.25rem;
    font-size: 0.6875rem; }
  /* line 234, ../foundation/scss/foundation/components/_buttons.scss */
  button.expand, .button.expand {
    padding-right: 0;
    padding-left: 0;
    width: 100%; }
  /* line 236, ../foundation/scss/foundation/components/_buttons.scss */
  button.left-align, .button.left-align {
    text-align: left;
    text-indent: 0.75rem; }
  /* line 237, ../foundation/scss/foundation/components/_buttons.scss */
  button.right-align, .button.right-align {
    text-align: right;
    padding-right: 0.75rem; }
  /* line 239, ../foundation/scss/foundation/components/_buttons.scss */
  button.radius, .button.radius {
    border-radius: 3px; }
  /* line 240, ../foundation/scss/foundation/components/_buttons.scss */
  button.round, .button.round {
    border-radius: 1000px; }
  /* line 242, ../foundation/scss/foundation/components/_buttons.scss */
  button.disabled, button[disabled], .button.disabled, .button[disabled] {
    background-color: #70DB70;
    border-color: white;
    color: white;
    cursor: default;
    opacity: 0.7;
    box-shadow: none; }
    /* line 163, ../foundation/scss/foundation/components/_buttons.scss */
    button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
      background-color: #3bce3b; }
    /* line 169, ../foundation/scss/foundation/components/_buttons.scss */
    button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
      color: #FFFFFF; }
    /* line 180, ../foundation/scss/foundation/components/_buttons.scss */
    button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
      background-color: #70DB70; }
    /* line 243, ../foundation/scss/foundation/components/_buttons.scss */
    button.disabled.secondary, button[disabled].secondary, .button.disabled.secondary, .button[disabled].secondary {
      background-color: #e7e7e7;
      border-color: #b9b9b9;
      color: white;
      cursor: default;
      opacity: 0.7;
      box-shadow: none; }
      /* line 163, ../foundation/scss/foundation/components/_buttons.scss */
      button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
        background-color: #b9b9b9; }
      /* line 169, ../foundation/scss/foundation/components/_buttons.scss */
      button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
        color: #333333; }
      /* line 180, ../foundation/scss/foundation/components/_buttons.scss */
      button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
        background-color: #e7e7e7; }
    /* line 244, ../foundation/scss/foundation/components/_buttons.scss */
    button.disabled.success, button[disabled].success, .button.disabled.success, .button[disabled].success {
      background-color: #43AC6A;
      border-color: #368a55;
      color: white;
      cursor: default;
      opacity: 0.7;
      box-shadow: none; }
      /* line 163, ../foundation/scss/foundation/components/_buttons.scss */
      button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
        background-color: #368a55; }
      /* line 169, ../foundation/scss/foundation/components/_buttons.scss */
      button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
        color: #FFFFFF; }
      /* line 180, ../foundation/scss/foundation/components/_buttons.scss */
      button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
        background-color: #43AC6A; }
    /* line 245, ../foundation/scss/foundation/components/_buttons.scss */
    button.disabled.alert, button[disabled].alert, .button.disabled.alert, .button[disabled].alert {
      background-color: #f04124;
      border-color: #cf2a0e;
      color: white;
      cursor: default;
      opacity: 0.7;
      box-shadow: none; }
      /* line 163, ../foundation/scss/foundation/components/_buttons.scss */
      button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
        background-color: #cf2a0e; }
      /* line 169, ../foundation/scss/foundation/components/_buttons.scss */
      button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
        color: #FFFFFF; }
      /* line 180, ../foundation/scss/foundation/components/_buttons.scss */
      button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
        background-color: #f04124; }
    /* line 246, ../foundation/scss/foundation/components/_buttons.scss */
    button.disabled.warning, button[disabled].warning, .button.disabled.warning, .button[disabled].warning {
      background-color: #f08a24;
      border-color: #cf6e0e;
      color: white;
      cursor: default;
      opacity: 0.7;
      box-shadow: none; }
      /* line 163, ../foundation/scss/foundation/components/_buttons.scss */
      button.disabled.warning:hover, button.disabled.warning:focus, button[disabled].warning:hover, button[disabled].warning:focus, .button.disabled.warning:hover, .button.disabled.warning:focus, .button[disabled].warning:hover, .button[disabled].warning:focus {
        background-color: #cf6e0e; }
      /* line 169, ../foundation/scss/foundation/components/_buttons.scss */
      button.disabled.warning:hover, button.disabled.warning:focus, button[disabled].warning:hover, button[disabled].warning:focus, .button.disabled.warning:hover, .button.disabled.warning:focus, .button[disabled].warning:hover, .button[disabled].warning:focus {
        color: #FFFFFF; }
      /* line 180, ../foundation/scss/foundation/components/_buttons.scss */
      button.disabled.warning:hover, button.disabled.warning:focus, button[disabled].warning:hover, button[disabled].warning:focus, .button.disabled.warning:hover, .button.disabled.warning:focus, .button[disabled].warning:hover, .button[disabled].warning:focus {
        background-color: #f08a24; }
    /* line 247, ../foundation/scss/foundation/components/_buttons.scss */
    button.disabled.info, button[disabled].info, .button.disabled.info, .button[disabled].info {
      background-color: #a0d3e8;
      border-color: #61b6d9;
      color: white;
      cursor: default;
      opacity: 0.7;
      box-shadow: none; }
      /* line 163, ../foundation/scss/foundation/components/_buttons.scss */
      button.disabled.info:hover, button.disabled.info:focus, button[disabled].info:hover, button[disabled].info:focus, .button.disabled.info:hover, .button.disabled.info:focus, .button[disabled].info:hover, .button[disabled].info:focus {
        background-color: #61b6d9; }
      /* line 169, ../foundation/scss/foundation/components/_buttons.scss */
      button.disabled.info:hover, button.disabled.info:focus, button[disabled].info:hover, button[disabled].info:focus, .button.disabled.info:hover, .button.disabled.info:focus, .button[disabled].info:hover, .button[disabled].info:focus {
        color: #FFFFFF; }
      /* line 180, ../foundation/scss/foundation/components/_buttons.scss */
      button.disabled.info:hover, button.disabled.info:focus, button[disabled].info:hover, button[disabled].info:focus, .button.disabled.info:hover, .button.disabled.info:focus, .button[disabled].info:hover, .button[disabled].info:focus {
        background-color: #a0d3e8; }

/* line 252, ../foundation/scss/foundation/components/_buttons.scss */
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

@media only screen and (min-width: 40.063em) {
  /* line 255, ../foundation/scss/foundation/components/_buttons.scss */
  button, .button {
    display: inline-block; } }
/* line 157, ../../sass/styles.scss */
.login {
  font-family: 'helvetica neue', helvetica, arial, 'lucida grande', sans-serif;
  position: relative;
  background: #3b5998 !important;
  width: 400px;
  height: 2.5rem;
  line-height: 2.5rem;
  text-decoration: none;
  color: white !important;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  margin: 0 auto;
  display: block; }

/* line 172, ../../sass/styles.scss */
.login i {
  vertical-align: middle;
  font-size: 1.5rem;
  position: absolute;
  top: 0.5rem;
  left: 0.625rem; }

/* line 184, ../../sass/styles.scss */
.search-box {
  width: 25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5rem; }

/* line 197, ../../sass/styles.scss */
.search-box input {
  width: 400px;
  height: 2.5rem;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  outline: 0;
  padding: 0.5rem 0.625rem; }

/* line 208, ../../sass/styles.scss */
.search-box ul {
  margin: 0;
  padding: 0;
  border-radius: 4px;
  margin-top: 4px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9); }

/* line 216, ../../sass/styles.scss */
.search-box ul li {
  margin: 0;
  list-style-type: none; }

/* line 221, ../../sass/styles.scss */
.search-box a {
  display: block;
  padding: 2px 8px;
  color: #444; }

/* line 226, ../../sass/styles.scss */
.search-box li:first-child a {
  padding-top: 4px; }

/* line 227, ../../sass/styles.scss */
.search-box li:nth-last-child(2) a {
  padding-bottom: 4px; }

/* line 229, ../../sass/styles.scss */
.search-box a:hover {
  background: #48f;
  color: white; }

/* line 234, ../../sass/styles.scss */
.search-no-results {
  padding: 0 8px; }

/* line 238, ../../sass/styles.scss */
.search-no-results {
  color: gray;
  padding: 4px 8px;
  cursor: default; }

/* line 244, ../../sass/styles.scss */
#current-user-name {
  color: white;
  margin-left: 8px; }

/* line 249, ../../sass/styles.scss */
h1.searchpagetitle1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 45px;
  color: white; }

/* line 255, ../../sass/styles.scss */
h2.searchpagetitle2 {
  font-family: 'Arizonia', cursive;
  margin-top: -1rem;
  font-size: 30px;
  color: white; }

@media screen and (max-width: 700px) {
  /* line 262, ../../sass/styles.scss */
  h1.searchpagetitle1 {
    font-size: 20px; }

  /* line 263, ../../sass/styles.scss */
  h2.searchpagetitle2 {
    display: none;
    font-size: 15px;
    margin-top: -0.75rem; }

  /* line 264, ../../sass/styles.scss */
  .search-box {
    width: 20rem;
    margin-left: -10rem; }

  /* line 269, ../../sass/styles.scss */
  .search-box input {
    width: 20rem; } }
/* line 274, ../../sass/styles.scss */
.titles-of-page {
  text-align: center;
  color: white;
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  text-align: center; }

/* line 285, ../../sass/styles.scss */
.my-review-rating {
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  margin-bottom: auto;
  padding: 7px 16px 9px;
  font-size: 13px;
  background-color: #7f7f7f;
  color: #FFFFFF;
  border-radius: 4px; }

/* line 298, ../../sass/styles.scss */
.my-review-buttons {
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 2px;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: #ffffff;
  border-color: #cccccc;
  color: white;
  border-radius: 3px;
  transition: background-color 300ms ease-out; }
  /* line 163, ../foundation/scss/foundation/components/_buttons.scss */
  .my-review-buttons:hover, .my-review-buttons:focus {
    background-color: #cccccc; }
  /* line 169, ../foundation/scss/foundation/components/_buttons.scss */
  .my-review-buttons:hover, .my-review-buttons:focus {
    color: #333333; }
