<div class="row">
        <div ng-repeat="review in reviews">
            <div class="row panel">
                <div class="small-8 medium-9 large-10 columns">

                    <div class="row">
                        <span class="my-review-rating">{{review.rating}}</span>
                        <h4>{{review.courseName}}</h4>
                        <h5>{{review.title}}</h5>
                    </div>
                </div>
                <div class="small-4 medium-3 large-2 columns">
                    <a ng-href="#/review/edit/{{review._id}}" class="button radius tiny"><i class="fa fa-pencil-square-o review-icon-size fa-lg fa-2x"></i></a>
                    <a ng-click="delete(review._id)" class="button radius alert tiny right"><i class="fa fa-trash-o review-icon-size fa-lg fa-2x"></i></a>
                </div>

            </div>
        </div>
</div>
